@import "tailwindcss";
#parent-container {
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
}

#container{
  width: 40vw;
  border: 6px solid black;
  gap: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#container-two{
  width: 40vw;
  border: 6px solid black;
  gap: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header{
  text-align: center;
}

.bigHeader {
  display: inline-block;
}

.form-container {
  width: 35vw;
}